thirdparty/yolov5/weights/best_gazebokinect.pt
thirdparty/yolov5/weights/best_realkinect.pt
thirdparty/yolov5/__pycache__/detect.cpython-36.pyc
thirdparty/__pycache__/__init__.cpython-36.pyc
thirdparty/yolov5/weights/best_realkinect_old.pt
